body {
    margin:0;
}

.controls {
    padding:10px;
    border-bottom:1px solid black;
}

h1{
    font: 50%;
}

.controls p {
    margin:0;
}

#txtAmountPerPerson {
    width:5em;
}

#txtDescription {
    width:15em;
}

.recipe {
    padding:10px;
}

#txtPersonCount {
    width:3em;
}


